    .card {
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20.00px), calc(100% - 20.00px) 100%, 0 100%);
      background-color: hsl(0, 0%, 13%);
      color: white;
      font-family: 'Bangers', cursive;
      font-size: 16px;
      letter-spacing: 3px;
      height: 100%;
      cursor: pointer;

      &:hover>.name_wrapper {
        background-position: 0 -100%;
      }

      .name_wrapper.name_wrapper_rare {
        border-color: goldenrod;
        background-image: linear-gradient(to bottom, hsl(0, 0%, 13%) 50%, goldenrod 50%);
      }


      .name_wrapper {
        border-top: solid 5px hsl(358, 86%, 51%);
        padding: 1rem;
        background-size: 100% 200%;
        background-image: linear-gradient(to bottom, hsl(0, 0%, 13%) 50%, hsl(358, 86%, 51%) 50%);
        transition: background-position 1s;
        height: 150px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        h2 {
          margin-bottom: .5rem;
        }

        .author {
          color: hsl(0, 0%, 80%);
          font-size: 10px;
        }
      }

    }

    @media screen and (min-width: 320px) and (max-width: 480px) {
      .name_wrapper {
        justify-content: flex-end;
      }
    }

    // @media screen and (max-width: 480px) {
    //   .img_wrapper {
    //     height: 17rem !important;
    //   }

    // }



    // @media screen and (max-width: 768px) {
    //   .img_wrapper {
    //     height: 16rem;
    //   }

    // }

